extends layout 
block nav-content 
    header
        <div class="navbar bcolor">
            <div class="nav-container center">
                <div class="nav">
                    <h1 style="margin-left: 30px;">lorem</h1>
                </div>
                <div class="nav">
                    <ul type="none" class="center">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about-us">About-Us</a></li>
                        <li><a href="/contact">Contact-Us</a></li>
                        <li><a href="/staffLogout" style="color: #183A1D; font-size: 30px;"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
block title-content 
    title TLH - CUSTOMER REQUESTS
block content 
    <div class="ser center">
        <div class="single center">
            <div class="order-head req">
                <h1 class="rem3 center head-font">Food <span style="color: #F0A04B;">Orders</span></h1>
            </div>
            <div class="orders-container center">
                <div class="orders">
                    each d, index in dets
                        <div class="order">
                            <ul type="none">
                                <li><span>Serial No.</span> #{index + 1}</li>
                                <li><span>Room No.:</span> #{d.room}</li>
                                <li><span>Starters: </span> #{d.starters}</li>
                                <li><span>Main-Course: </span> #{d.main_course}</li>
                                <li><span>Desserts: </span> #{d.desserts}</li>
                                <li><span>Extras: </span> #{d.extras}</li>
                                form(action=`/service-req/${d.email}`, method="POST")
                                button.btn(type="submit", style="margin: 5px;") Complete
                            </ul>
                        </div>
                </div>
            </div>
        </div>
        <div class="single center">
            <div class="order-head req">
                <h1 class="rem3 center head-font">Room Service <span style="color: #F0A04B;">Requests</span></h1>
            </div>
            <div class="orders-container center">
                <div class="orders">
                    each r, i in rss 
                        <div class="order">
                            <ul type="none">
                                <li><span>Serial No.: </span>#{i+1}</li>
                                <li><span>Room No.: </span> #{r.room}</li>
                                <li><span>Time: </span> #{r.date}</li>
                                form(action=`/service-req/${r.date}`, method="post") 
                                button.btn(type="submit" style="margin: 5px;") Complete
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>    
    
    
    
    
    
    
    
    
    


    <!-- <div class="service-requests center">
        <h1 id="f" style="color: yellow;">SERVICE REQUESTS</h1>
        if dets
            <div class="requests center">
                <h1 class="center">Food Requests</h1>
                each d, index in dets
                    <div class="orders">
                        <p><span>Serial No.</span> #{index + 1}</p>
                        <p><span>Room No.:</span> #{d.room}</p>
                        <p><span>Starters: </span> #{d.starters}</p>
                        <p><span>Main-Course: </span> #{d.main_course}</p>
                        <p><span>Desserts: </span> #{d.desserts}</p>
                        <p><span>Extras: </span> #{d.extras}</p>
                        <div class="complete">
                            form(action=`/service-req/${d.email}`, method="POST")
                                button#btn(type="submit") Complete
                        </div>
                    </div>
            </div>
        else
            <p>Cannot get the orders</p>
        
        if rss
            <div class="requests center">
                <h1 class="center">Room Service Requests</h1>
                each r, i in rss
                    <div class="orders">
                        <p><span>Serial No.: </span>#{i+1}</p>
                        <p><span>Room No.: </span> #{r.room}</p>
                        <p><span>Time: </span> #{r.date}</p>
                        form(action=`/service-req/${r.date}`, method="post") 
                            button#btn(type="submit") Complete
                    </div>
            </div>
        else    
            <p>Cannot get the service requests</p>
    </div> -->